In [4]:
import scipy as stats
import pandas as pd
import matplotlib as plt

In [15]:
# Criação dos DFs 

magic_kingdom = pd.read_csv('Dados/mk.csv', sep=';')
universal_studios = pd.read_csv('Dados/us.csv', sep=';')

magic_kingdom.head()

    Ano Qtd (mi)
0  2009    17,23
1  2010    16,97
2  2011    17,14
3  2012    17,54
4  2013    18,59